<th scope="row" class="p-0 text-wrap bg-warning-subtle text-black" [width]="'5%'">Indisp. p/ Web</th>
@for (dia of listaDatas; track $index) {
<td class="align-middle border text-center cursor-pointer p-0" id="dia-{{dia | date: 'd' : 'UTC'}}"
  (mouseenter)="onMouseMoveDtIndisponivel(dia)" (mouseleave)="onMouseMoveDtIndisponivel(dia)"
  (click)="disponibilizarOuIndisponibilizarData(dia, verificarSeDataEstaIndisponivel(dia))" [width]="'3.65%'">
  <span class="badge {{ verificarSeDataEstaIndisponivel(dia) ? 'bg-danger' : 'bg-success'}} bg-soft"
    style="font-size: 1rem;">
    {{ dia | date: 'd':'UTC' }}
  </span>
</td>
}