<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <app-table-row-datas-indisponiveis class="p-0" [listaDatas]="listaDatas"></app-table-row-datas-indisponiveis>
      </tr>
      <tr>
        <app-table-row-margem-ocupacao class="p-0" [listaDatas]="listaDatas"></app-table-row-margem-ocupacao>
      </tr>
      <tr>
        <app-table-row-margem-desconto class="p-0" [listaDatas]="listaDatas"></app-table-row-margem-desconto>
      </tr>
      <tr>
        <app-table-row-minimo-diaria class="p-0" [listaDatas]="listaDatas"></app-table-row-minimo-diaria>
      </tr>
      <tr>
        <app-table-row-maximo-diaria class="p-0" [listaDatas]="listaDatas"></app-table-row-maximo-diaria>
      </tr>
      <tr>
        <app-table-row-disponibilidade-desconto class="p-0"
          [listaDatas]="listaDatas"></app-table-row-disponibilidade-desconto>
      </tr>
    </tbody>
  </table>
</div>