<div class="card">
  <div class="card-content">
    <div class="card-header d-flex justify-content-between border-0">
      <h5>Lista Unidades Hoteleiras</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive mt-2">
        <table class="table align-middle table-striped table-nowrap mb-0">
          <thead class="table-light">
            <tr class="text-center">
              <th scope="col">Hotel</th>
              <th scope="col">Nome UH</th>
              <th scope="col">Total de Quartos</th>
            </tr>
          </thead>
          <tbody>
            @for (uh of listaUh | paginate: {
            itemsPerPage: 10,
            currentPage: paginaAtual
            }; track $index) {
            <tr class="text-center">
              <td>
                {{uh.nomeHotel}}
              </td>
              <td>
                {{uh.nomeTipoUh}}
              </td>
              <td>
                {{uh.totalQuartos! <= 9 ? '0' + uh.totalQuartos?.toString() : uh.totalQuartos?.toString() ?? 'Não definido'}}
              </td>
            </tr>
            }@empty {
            <tr>
              <td colspan="6" class="text-center">
                Nenhuma UH foi encontrada!
                <a class="link text-decoration-underline cursor-pointer" (click)="abrirModalCadastrarOuEditarUH()">
                  Clique aqui e cadastre
                </a>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="text-end me-3 mt-2 pe-1">
        <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
          nextLabel="Próximo"></pagination-controls>
      </div>
    </div>
  </div>
</div>